.main-container {
    position: relative;
    background-Repeat: no-repeat;
    width: auto;
    height: 700px;
    background-size: cover;
    background-Image: url("https://www.freegreatpicture.com/files/photo106/52819-shopping.jpg")
}


.container-child img {
    width: 600px;
    height: 400px;

    margin-right: 20px;
}

.container-child {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.content {
    text-align: center;

}